<!DOCTYPE html>
<title>Thank You</title>	
<!-- Plugin CSS -->
  <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
  <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
  <!-- / -->

  <!-- Theme Style -->
  <link href="static/css/styles.css" rel="stylesheet">
  <link href="static/css/color/default.css" rel="stylesheet" id="color_theme">
 <section id="home" class="home-banner-01 bg-no-repeat bg-cover bg-fixed home-bg" style="background-image: url(static/img/nasa.jpg);">
     <div id="particles-box"></div>
        <div class="container">
        <div class="row full-screen align-items-center">
          <div class="col-12 col-md-12 text-center">
            <div class="home-text">
              <h2 style="color:bisque">Thank You!</h2>
              <h1 style="color:antiquewhite" class="font-alt">Your message has been sent.</h1>
                <p><span id="type-it"></span></p>
              <div class="btn-bar">
                <a href="index.html" class="m-btn m-btn-theme m-btn-h-white">Back to Home.</a>
              </div> 
            </div> <!-- home-text-center -->
          </div> <!-- col -->
        </div> <!-- row -->
      </div>
    </section>



